<!-- sections/footer.liquid -->
{%- liquid
  assign is_homepage = false
  assign is_product = false
  assign is_collection = false
  assign is_cart = false
  
  if template == 'index'
    assign is_homepage = true
  endif
  
  if template == 'product'
    assign is_product = true
  endif
  
  if template == 'collection'
    assign is_collection = true
  endif
  
  if template == 'cart'
    assign is_cart = true
  endif
-%}

<footer class="tw:bg-seriy tw:relative tw:px-[1.6rem]">
  <div class="{% if is_homepage or is_product %}tw:max-w-[112rem] {% else %}page-width {% endif %} tw:mx-auto tw:!pt-[5rem] tw:!pb-[6rem] ">
    <!-- ========================================== -->
    <!-- ПЕРВЫЙ РЯД (50% / 50%) -->
    <!-- ========================================== -->
    <div class="tw:flex tw:flex-col tw:lg:flex-row tw:gap-6 tw:lg:gap-20">
      <!-- 1.1: Подписка (Левая половина) -->
      {%- if section.settings.newsletter_enable -%}
        <div class="tw:w-full tw:lg:w-1/2">
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class="tw:text-[2.4rem] tw:xl:!text-[4rem] tw:leading-[1.2] tw:tracking-[-0.04em] tw:font-medium tw:mb-[2rem] inline-richtext">
              {{ section.settings.newsletter_heading }}
            </h2>
          {%- endif -%}

          {%- form 'customer', id: 'ContactFooter', class: 'newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="tw:flex tw:flex-col tw:gap-4">
              <div class="tw:flex tw:gap-4 tw:mb-[1.2rem]">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="tw:max-w-[32rem] tw:w-full tw:bg-white tw:rounded-full tw:px-6 tw:h-[3.6rem] tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em] tw:text-grayscale-950 tw:placeholder-grayscale-500 tw:focus:outline-none tw:focus:ring-1 tw:focus:ring-gray-400 tw:focus:ring-offset-0 tw:focus-visible:ring-offset-0 tw:transition-shadow"
                  style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);"
                  value="{{ form.email }}"
                  placeholder="{{ 'newsletter.label' | t }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="ContactFooter-success"
                  {% endif %}
                  required
                >
                <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
                <button
                  type="submit"
                  class="tw:pt-0.5 tw:bg-goluboy tw:text-white tw:px-6 tw:h-[3.6rem] tw:rounded-full tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em] tw:font-medium tw:hover:bg-goluboydark tw:transition-colors tw:flex-shrink-0"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <span>Subscribe</span>
                </button>
              </div>

              <!-- Чекбокс согласия -->
              <label class="cb tw:flex tw:items-center tw:gap-[0.8rem] tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em] tw:text-grayscale-950">
                <input
                  type="checkbox"
                  required
                  name="subscribe-check"
                  class="cb-input"
                >
                <span class="cb-box tw:bg-white tw:shrink-0 tw:w-[1.8rem] tw:h-[1.8rem] tw:border-2 tw:border-slate-200 tw:rounded-[0.4rem] tw:flex tw:items-center tw:justify-center tw:transition">
                  <svg class="cb-icon tw:w-[1.8rem] tw:h-[1.8rem] tw:scale-150 tw:translate-x-1/6 tw:-translate-y-1/5">
                    <use href="#check"></use>
                  </svg>
                </span>
                <span> I agree to the terms and conditions </span>
              </label>

              {%- if form.errors -%}
                <small class="tw:text-red-500 tw:text-[1.2rem] form__message" id="ContactFooter-error">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}

              {%- if form.posted_successfully? -%}
                <h3
                  class="tw:text-green-600 tw:text-[1.4rem] tw:font-medium form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  <span class="svg-wrapper">
                    {{- 'icon-success.svg' | inline_asset_content -}}
                  </span>
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            </div>
          {%- endform -%}
        </div>
      {%- endif -%}

      <!-- 1.2: Меню, Ссылки, Соцсети (Правая половина) -->
      <div class="tw:w-full tw:lg:w-1/2">
        <div class="tw:flex tw:flex-row tw:gap-12 tw:lg:gap-20 ">
          <!-- 1.2.1: Меню футера -->
          <div class="tw:w-full tw:sm:w-1/2">
            {%- if section.settings.menu != blank -%}
              <ul class="tw:flex tw:flex-col tw:gap-[1.3rem] tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em]">
                {%- for link in section.settings.menu.links -%}
                  <li>
                    <a
                      href="{{ link.url }}"
                      class="tw:text-grayscale-500 tw:hover:text-grayscale-950  tw:transition-colors {% if link.active %}tw:text-golden{% endif %}"
                    >
                      {{ link.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <!-- 1.2.2: Политики + Соцсети + Почта -->
          <div class="tw:w-full tw:sm:w-1/2 tw:flex tw:flex-col tw:justify-between">
            <!-- Сверху: Политики (Dynamic) -->
            {%- if section.settings.show_policy -%}
              <ul class="tw:flex tw:flex-col tw:gap-[1.3rem] tw:mb-8 tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em]">
                {%- for policy in shop.policies -%}
                  {%- if policy != blank -%}
                    <li>
                      <a
                        href="{{ policy.url }}"
                        class="tw:text-grayscale-500 tw:hover:text-grayscale-950  tw:transition-colors"
                      >
                        {{- policy.title | escape -}}
                      </a>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}

            <!-- Снизу: Соцсети и Почта -->
            <div class="tw:mt-[3rem]">
              <div class="tw:flex tw:items-center tw:gap-10 tw:mb-[2rem] tw:xl:mb-[3rem]">
                {%- if settings.social_instagram_link != blank -%}
                  <a
                    href="{{ settings.social_instagram_link }}"
                    class="tw:opacity-90 tw:hover:opacity-100 tw:transition-opacity"
                    target="_blank"
                    rel="noopener"
                    aria-label="Instagram"
                  >
                    <!-- Иконка Instagram -->
                    <div class="eco-icon tw:w-[2.4rem] tw:h-[2.4rem] tw:xl:w-[2rem] tw:xl:h-[2rem]">
                      <img
                        src="{{ 'instagram.webp' | asset_url }}"
                        alt="Instagram"
                        class="tw:w-full tw:h-full tw:object-cover"
                        loading="lazy"
                        width="60"
                        height="60"
                      >
                    </div>
                  </a>
                {%- endif -%}
                <a
                  href="https://telegram.org"
                  class="tw:opacity-90 tw:hover:opacity-100 tw:transition-opacity"
                  target="_blank"
                  rel="noopener"
                  aria-label="Telegram"
                >
                  <svg
                    class="eco-icon tw:w-[2.4rem] tw:h-[2.4rem] tw:xl:w-[2rem] tw:xl:h-[2rem]"
                    focusable="false"
                    aria-hidden="true"
                  >
                    <use href="#telegram"></use>
                  </svg>
                </a>
                {%- if settings.social_facebook_link != blank -%}
                  <a
                    href="{{ settings.social_facebook_link }}"
                    class="tw:opacity-90 tw:hover:opacity-100 tw:transition-opacity"
                    target="_blank"
                    rel="noopener"
                    aria-label="Facebook"
                  >
                    <svg
                      class="eco-icon tw:w-[2.4rem] tw:h-[2.4rem] tw:xl:w-[2rem] tw:xl:h-[2rem]"
                      focusable="false"
                      aria-hidden="true"
                    >
                      <use href="#facebook"></use>
                    </svg>
                  </a>
                {%- endif -%}
              </div>
              {%- if section.settings.footer_email != blank -%}
                <div class="tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em]">
                  <span class="tw:text-grayscale-500 tw:block tw:xl:inline">E-mail us:</span>
                  <a
                    href="mailto:{{ section.settings.footer_email }}"
                    class="tw:text-grayscale-950 tw:hover:text-grayscale-500 tw:transition-colors"
                  >
                    {{ section.settings.footer_email }}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ========================================== -->
    <!-- ВТОРОЙ РЯД (50% / 50%) -->
    <!-- ========================================== -->
    <div class="tw:flex tw:flex-col tw:lg:flex-row tw:gap-12 tw:lg:gap-20 tw:pt-20">
      <!-- 2.1: Серый информативный текст -->
      <div class="tw:flex tw:flex-col tw:gap-[1rem] tw:w-full tw:lg:w-1/2 tw:text-grayscale-500 tw:text-[1.4rem] tw:leading-[1.43] tw:tracking-[-0.04em]">
        {{ section.settings.info_text_1 }}
        {{ section.settings.info_text_2 }}
        {{ section.settings.info_text_3 }}
      </div>

      <!-- 2.2: Пустая колонка для макета -->
      <div class="tw:hidden tw:lg:block tw:lg:w-1/2"></div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "WEBLEGKO Footer",
  "class": "section-footer",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our Newsletter,<br> for the latest Promotions,<br> New Products and Sales!",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Navigation & Links"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Footer menu"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "Show store policies"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Email address",
      "default": "hello@yourstore.com"
    },
    {
      "type": "header",
      "content": "Bottom Information"
    },
    {
      "type": "richtext",
      "id": "info_text_1",
      "label": "Info paragraph #1",
      "default": "<p>Life Is Real, So Take Real Supplements™</p>"
    },
    {
      "type": "richtext",
      "id": "info_text_2",
      "label": "Info paragraph #2",
      "default": "<p>Promotions and discounts cannot be stacked. Promotional codes are not valid on Subscriptions.</p>"
    },
    {
      "type": "richtext",
      "id": "info_text_3",
      "label": "Info paragraph #3",
      "default": "<p>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>"
    }
  ]
}
{% endschema %}
